  <header class="bs-header">
    <nav class="bs-nav" aria-label="Barbershop Grams">
      <a class="bs-wordmark" href="/barbershop-grams/">Barbershop Grams</a>
      <a class="bs-nav-enquire" href="/barbershop-grams/repertoire.html">Repertoire</a>
      <a class="bs-nav-enquire" href="/barbershop-grams/#prices">Prices</a>
      <a class="bs-nav-enquire" href="https://wa.me/447356042468?text=Hello%20London%20Choral%20Service%2C%20I%27d%20like%20to%20send%20a%20Barbershop%20Gram.%20Date%3A%20%2F%20Place%3A%20%2F%20Who%20it%27s%20for%3A" target="_blank" rel="noopener" data-whatsapp>WhatsApp</a>
    </nav>
  </header>
